body{margin: 0px 20px;}
.photo{
    height: 320px;
    position: relative;
    background-color: #eee;
}
.photo img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.info{
    margin-top: 100px;
    text-align: center;
}
.info h2{font-size: 36px; margin-bottom: 0;}
.info h4{font-size: 23px; margin-top: 10px;}
.vedio{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}
.vedio video{width: 50%;}


.vedio .text p{
    color: #585858;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 1.3;
}
.vedio .text {padding-right: 10px;}
.vedio .text h3{font-size: 27px;}
.projects{
    font-size: 30px;
    padding: 5px 10px ;
    border-radius: 10px;
    color: white;
    background-color: #0075ff;
    width: fit-content;
    /* margin: 20 10px; */
}
.vedio a{
    text-decoration: none;
    color: white;
    background: #0075ff;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
}
@media(max-width:767px)
{
.vedio{flex-direction: column;}
.vedio video{width: 100%;}
.photo img{
    width: 200px;
    height: 200px;
}
.photo{
    height: 220px;
}
.vedio .text { padding-bottom: 20px;}
.projects{font-size: 20px;}

}









.myfooter
{
    padding-top: 5px;
    background-color: #191919;
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    font-style: italic;
    padding: 10px;
}
.myfooter span{font-size: 18px;}
.myfooter i{color: white; padding: 10px;}
.myfooter .face:hover{color: #1877F2;}
.myfooter .insta:hover{color: #dd2a7b;}
.myfooter .whats:hover{color: #25d366;}